<h1>Record new Product</h1>

    <%= form_for(@series) do |f| %>
    
    <%= f.label :series_name %>
    <%= f.text_field :series_name %>
    
    <%= f.label :product_name %>
    <%= f.text_field :product_name %>
    
    <%= f.label :photo %>
    <%= f.text_field :photo %>
    
    <%= f.label :chart_num %>
    <%= f.number_field :chart_num %>
    
    <%= f.label :chart1 %>
    <%= f.text_field :chart1 %>
    
    <%= f.label :chart2 %>
    <%= f.text_field :chart2 %>
    
    <%= f.label :chart3 %>
    <%= f.text_field :chart3 %>
    
    <%= f.label :chart4 %>
    <%= f.text_field :chart4 %>
    
    <%= f.label :chart5 %>
    <%= f.text_field :chart5 %>
    
    <%= f.label :chart6 %>
    <%= f.text_field :chart6 %>

    <%= f.label :chart7 %>
    <%= f.text_field :chart7 %>
    
    <%=  %>
    <%=  %>
    
    <%=  %>
    <%=  %>
    
    <%=  %>
    <%=  %>
    
    <%=  %>
    <%=  %>
    
    <%=  %>
    <%=  %>
    
    <%=  %>
    <%=  %>
    
    <%=  %>
    <%=  %>
    
    <%=  %>


